infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfvars
infra/terraform-key.json
infra/tfplan.json
infra/tfplan.binary
infra/terraform.tfstate
infra/terraform.tfstate.backup
.terraform/
terraform-key.json